@charset "utf-8";
*{margin:0;padding:0;}

#PageSelectorSelectorArea {
	float: right;
	margin-right:20px;
}
#PageSelectorSelectorArea a,#PageSelectorSelectorArea span{
	display:block;
	float:left;
}
#PageSelectorSelectorArea a{
	vertical-align: middle;
	margin-left:5px;
	margin-right:5px;
}
#PageSelectorSelectorArea span{
	width:25px;
	height:15px;
	margin-left:2px;
	margin-right:2px;
	text-align:center;
}
#PageSelectorSelectorArea span:hover{
	border:1px solid #439ACB;
	width:23px;
}
#PageSelectorSelectorArea span:hover{cursor:pointer;}
#PageSelectorMemo {
	float: left;
	padding-top: 5px;
	line-height: 18px;
}

.PageSelectorSelected {
	color: #FF0000;
}

#PageSelectorHead {
	padding-left: 2px;
	padding-right: 2px;
	width: 15px;
	height: 15px;
	font-family: webdings;
	background: url(images/pageSelector_bg.gif) no-repeat;
	background-position: 0px 1px;
}

#PageSelectorNum,
.PageSelectorNum {
	background: url(images/pageSelector_bg.gif) no-repeat;
	background-position: 0px 3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 25px;
	height: 15px;
	font-family: 宋体;
	text-align: center;
	line-height:15px;
}
#PageSelectorBar{
	/*border:1px solid red;*/
	margin-top:10px;
}
#PageSelectorBar input {
	height: 18px;
	width: 20px;
	font-family: 宋体;
	border: 1px solid #005791;
}

#PageSelectorBar A:link {
	COLOR: #005791; TEXT-DECORATION: none
}

#PageSelectorBar A:visited {
	COLOR: #005791; TEXT-DECORATION: none
}

#PageSelectorBar A:active {
	COLOR: #005791; TEXT-DECORATION: none
}

#PageSelectorBar A:hover {
	COLOR: #005791; TEXT-DECORATION: none;
}
#_pn{
	height:18px;
	min-width:40px;
	text-align:left;
	border:1px solid #439ACB;
}
